@import url('https://fonts.googleapis.com/css?family=Archivo');

body {
    background: #1C1C1C;
    font-family: 'Archivo', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
}

.coverart {
    background-image: url("/images/LilAnonymous.png");
    width: 100%;
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    margin: 0 auto;
    transform: -50%, -50%;
    transform: translate(50%,50%);
    text-align: center;
    width: 50%;
    height: 100px;
    /* background: red; */
    position: absolute;
    top: 50px;
}

.header .logo {
    position: absolute;
    top: -75px;
    left: 0px;
}

.header p {
    color: white;
    font-size: 24px;
}

.nav {
    float: right;
    margin-right: 100px;
    cursor: pointer;
}

.bar1 {
    width: 20px;
    height: 2px;
    background: white;
}

.bar2 {
    margin-top: 3px;
    width: 10px;
    height: 2px;
    background: white;
}

.bar3 {
    margin-top: 3px;
    width: 15px;
    height: 2px;
    background: white;
}

.covertitle {
    color: white;
    font-size: 24px;
    margin-top: 400px;
    font-weight: lighter;
}

.button {
    margin: 0 auto;
    background: white;
    color: black;
    width: 70px;
    border-radius: 2px;
    cursor: pointer;
}

.button p {
    color: black;
    font-size: 14px;
    padding: 10px;
}

.collection {
    width: 50%;
    height: 1000px;
    /* background: red; */
    margin: 0 auto;
    margin-top: 150px;
    text-align: center;
}

.title {
    color: white;
    font-weight: lighter;
}

.separator {
    color: white;
    margin-top: 10px;
    text-align: center;
}

.imageCollection {
    width: 100%;
    height: 50%;
    margin: 0 auto;
    margin-top: 50px;
    cursor: pointer;
}

.imageCollection .First {
    width: 100%;
    height: auto;
    transition: transform 1s;
}

.imageCollection .imagetitle {
    color: white;
    font-size: 18px;
    margin-top: 10px;
}

.imageCollection .overlay {
    position: absolute;
    width: 50%;
    left: 25%;
    opacity: 0;
    transition: .8s ease;
    background: black;
}

.imageCollection:hover .overlay {
    opacity: .5;
}

.imageCollection .overlay .text {
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    font-size: 20px;
}