body, #slider, .wrap, .slide-content {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 90vh;
    overflow-x: hidden;
}

.wrap {position: relative;}

.slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.slide1 {
  background-image: url("images/image6.jpg");
}
.slide2 {
  background-image: url("images/image7.jpg");
}
.slide3 {
  background-image: url("images/image4.jpg");
}


.slide-content span {
    position: absolute;
    top: 5px;
    right: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: black;
}

.slide-content span .fa-info-circle:hover  {
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.slide-content span .fa-times:hover {
    cursor: pointer;
}

.slide-content .description {
    width: 100vw;
    height: 100vh;
    background: white;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    display: none;
}


.slide-content .description2 {
    width: 100vw;
    height: 100vh;
    background: white;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    display: none;
}

.slide-content .description2 p {
    padding: 60px;
}

.slide-content .description2 i {
    position: relative;
    top: 5px;
    right: 10px;
}


.slide-content .description3 {
    width: 100vw;
    height: 100vh;
    background: white;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    display: none;
}

.slide-content .description3 p {
    padding: 60px;
}

.slide-content .description3 i {
    position: relative;
    top: 5px;
    right: 10px;
}

.slide-content .description i {
    position: relative;
    top: 5px;
    right: 10px;
}

.slide-content .description p {
    padding: 60px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: 0px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 15px 20px 15px 0;
  border-color: transparent #fff transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 15px 0 15px 20px;
  border-color: transparent transparent transparent #fff;
  right: 0;
  margin-right: 30px;
}


footer {
    width: 100%;
    height: 50px;
    background: black;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer .title img {
    float: left;
    padding: 7px;
}

footer .title {
    cursor: pointer;
    list-style-type: none;
    float: left;
}

footer  li {
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

footer li:hover {
   cursor: pointer;
}

footer li a {
    color: white;
    text-decoration: none;
}
